.navmenu{
    background-color: var(--nav-color)!important;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.navmenu a{
    color: var(--text-grey)!important;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.navmenu a:hover{
    color: var(--text-white)!important;
}

.navmenu a.active{
    color: var(--highlight-color) !important;
}