.navmenu{
    background-color: var(--nav-color)!important;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* This will separate the brand and links */
    align-items: center; /* Align items vertically */
}

.navmenu a{
    color: var(--text-grey)!important;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.navmenu a:hover{
    color: var(--text-white)!important;
}

.navmenu a.active{
    color: var(--highlight-color) !important;
}

.navitems-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbrand{
    font-size: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.brand-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding-bottom: 5px;
}